header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding-block: 0.5rem;

  background-color: var(--nav-bgcolor);
  
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9000;
}

/* HAMBURGER BUTTON */
header nav .hamburger-menu {
  display: block;
  cursor: pointer;
}

header nav .hamburger-menu .line1, 
header nav .hamburger-menu .line2, 
header nav .hamburger-menu .line3 {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  transform: rotate(-20deg);
  background: var(--main-color);
}

header nav .hamburger-menu > div:not(:first-child) {
  margin-top: 3px;
  background: var(--font-color);
}

/* FULL MENU NAVIGATION MOBILE FIRST */
/* When nav button clicked, add active class to display */
header nav .desktop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--nav-bgcolor);

  position: absolute;
  top: -100vh;
  right: 0; 
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}

header nav .desktop-menu.active {
  top: 64px;
}

header nav .desktop-menu .nav-menu-list {
  text-align: center;
  transition: 0.5s;
}

header nav .desktop-menu .nav-menu-list > * {  
  color: var(--font-color);
  font-size: 1rem;
  padding-bottom: 3px;
  border: 2px solid transparent;
  margin-bottom: 10px;
}

/* display active navigation link */
header nav .desktop-menu .nav-menu-list > *.active {
  border-bottom: 2px solid var(--main-color);
}

header nav .desktop-menu .nav-menu-list > *:hover {
  border-bottom: 2px solid var(--main-color);
}


/* NAVIGATION SEARCH STYLING */
header nav .desktop-menu .nav-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  margin-bottom: 10px;
}

header nav .desktop-menu .nav-search label {
  display: none;
}

header nav .desktop-menu .nav-search input[type="search"] {
  width: calc(35vw);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--font-color);
  padding: 0px 5px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--font-color);
}

header nav .desktop-menu .nav-search > button {
  border: none;
  outline: none;
  background-color: var(--main-color);
  padding: 2px 6px;
  position: absolute;
  bottom: 1px;
  right: 0px;
  cursor: pointer;
}

header nav .desktop-menu .nav-search > button > span {
  vertical-align: middle;
  font-size: 1rem;
  color: white;
}

header nav .desktop-menu .nav-search > button:hover {      
  background-color: var(--hover-color);      
}

/* NAVIGATION LOGIN/REGISTER STYLING */
header nav .desktop-menu .session-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

header nav .desktop-menu .session-menu .login {
  padding-block: 5px;
  cursor: pointer;
  color: var(--font-color);
  font-weight: 700;
  border: 2px solid transparent;
}

header nav .desktop-menu .session-menu .login:hover {
  border-bottom: 2px solid var(--main-color);
}

header nav .desktop-menu .session-menu .register-btn {
  font-weight: 700;
}


@media screen and (min-width: 1024px) {
    header nav .hamburger-menu {
      display: none;
    }

    header nav .desktop-menu.active {
      top: 0;
    }
    
    header nav .desktop-menu {
      position: unset;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;  
      gap: 2rem;
      padding: 0;
      background-color:unset;
    }    

    header nav .desktop-menu .nav-menu-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: .75rem;    
      margin-block: 0px;  
    }

    header nav .desktop-menu .nav-menu-list > * {
      color: var(--font-color);
      font-size: 1rem;
      padding-bottom: 4px;
      border: 2px solid transparent;
      margin-bottom: 0px;
    }

    header nav .desktop-menu .nav-menu-list > *.active {
      border-bottom: 2px solid var(--main-color);
    }

    header nav .desktop-menu .nav-menu-list > *:hover {
      border-bottom: 2px solid var(--main-color);
    }

    header nav .desktop-menu .nav-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin-bottom: 0px; 
    }

    header nav .desktop-menu .nav-search input[type="search"] {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid var(--font-color);
      padding: 1px 5px;
      font-size: 1rem;
      color: var(--font-color);
    }

    header nav .desktop-menu .nav-search > button {
      border: none;
      outline: none;
      background-color: var(--main-color);
      padding: 1px 4px;
      position: absolute;
      bottom: 1px;
      right: 0px;
      cursor: pointer;
    }

    header nav .desktop-menu .nav-search > button > span {
      vertical-align: middle;
      font-size: 1.3rem;
      color: white;
    }

    header nav .desktop-menu .nav-search > button:hover {      
      background-color: var(--hover-color);      
    }

    header nav .desktop-menu .session-menu {
      display: block;
    }

    header nav .desktop-menu .session-menu .login {
      padding-inline: 15px;
      cursor: pointer;
      color: var(--font-color);
    }

    header nav .desktop-menu .session-menu .login:hover {
      padding-bottom: 9px;
      border-bottom: 2px solid var(--main-color);
    }

}