/* MAIN CLASSES */
.grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}

.container {
    padding-inline: 20px;
}

@media screen and (min-width: 480px) {
    .container {
        padding-inline: 40px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding-inline: 60px;
    }
}

/* SECTIONS */
.recent-section,
.trending-section,
.authors-section {
    padding-block: 4em;
} 

.section-title {
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size: clamp(2rem, 3.5vw, 5rem); 
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;   
}

.section-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--main-color);
}


/* HERO SECTION */
main .hero-section {
    height: 80vh;
    margin-block: 20px;
    align-items: center;
    justify-content: space-between;
}

main .hero-section .hero-content .hero-title:after {
    border-bottom: none;
}

main .hero-section .hero-content h1:nth-child(2) {
    color: var(--main-color);
}

main .hero-section .hero-content p {
    font-size: clamp(1rem, 1.5vw, 2rem); 
    line-height: 1.5;
}

main .hero-section .hero-content > button {
    margin-top: 15px;
}

main .hero-section img {
    width: 525px;
}

@media screen and (min-width: 768px) {
    main .hero-section .hero-content .section-title {
        display: inline-flex;
        white-space: break-spaces;
    }
}

/* RECENT SECTION SECTION */

main .recent-section.diagonal {
    --skew-angle: -5deg;
    --background-clr: var(--font-color);
    position: relative;    
    isolation: isolate;
}

main .recent-section.diagonal::after {
    content: '';
    background: var(--background-clr);        
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}

main .recent-section .reel {
    --gap: 1rem;
    display: grid;
    gap: var(--gap);
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--gap);
}

main .recent-section .reel > * {
    scroll-snap-align: start;
}

main .recent-section .section-title,
.recent-section .article-card .article-card-content .article-title,
.recent-section .article-card .article-card-content .article-author {
    color: white;
}


/* ARTICLE CARD CLASSES */
.article-card {
    margin-top: 15px;
}

.article-card .article-card-content {
   margin-top: 5px;
   line-height: 1.2;
}

.article-card .article-card-content .article-category {
    color: var(--main-color);
    font-size: clamp(1rem, 1.25vw, 2rem); 
    font-weight: bold;
}

.article-card .article-card-content .article-title {
    font-weight: bold;
    font-size: clamp(1rem, 1.75vw, 2rem);
}

.article-card .article-card-content .article-author {
    font-size: clamp(0.75rem, 1vw, 2rem);
}

/* SUBSCRIBE */
main .subscribe-section {
    background-color: var(--main-color);
    padding-block: 2em;
}

main .subscribe-section .subscribe-title {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

main .subscribe-section .form-subsection {

}

main .subscribe-section .form-subsection .description {
    padding-block: 5px 10px;
    font-size: clamp(0.75rem, 2vw, 2.75rem);
 }

main .subscribe-section .form-subsection form label {
    display: none;
}

main .subscribe-section .form-subsection form input[type="email"] {
    width: 100%;
    border: none;
    padding: 5px;
    color: var(--font-color);
}





